<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AMERICA DO SUL</title>
</head>
<body>
    <h1>AMERICA DO SUL</h1>
    <ul>
        <li><a href="http://localhost:8000/sulamerica/brasil">Brasil</a></li>
        <li><a href="http://localhost:8000/sulamerica/argentina">Argentina</a></li>
        <li><a href="http://localhost:8000/sulamerica/uruguai">Uruguai</a></li>
    </ul>
</body>
</html>